<head>
</head>
<body>
<canvas id="myCanvas" width="920" height="720"
style="border:1px solid #d3d3d3;">
Your browser does not support the canvas element.
</canvas>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script  type="text/javascript" src="script.js"></script>
</body>